.recover-body {
    height: 200px;
    background: #efeff0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
}

.recover-area {
    width: 700px;
    height: 400px;
    margin: 50px 70px;
    box-sizing: border-box;
    border: 2px solid rgb(109, 109, 109);
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 16px;
    resize: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.form-recover-right {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 70px;
    height: 300px;
    border: 1px solid #c3c3c3;
}

.recover-area2 {
    width: 700px;
    height: 400px;
    margin: 50px 70px;
    box-sizing: border-box;
    border: 2px solid rgb(109, 109, 109);
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 16px;
    resize: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 50px;
}