.textarea {
    width: 700px;
    height: 150px;
    margin: 10px 70px;
    box-sizing: border-box;
    border: 2px solid rgb(178, 175, 175);
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 16px;
    resize: none;
    padding: 5px;
    box-shadow: 3px 4px 0px 0px #bcbdbe;
}

.hello-name {
    font-size: 40px;
    font-family: 'Didact Gothic', sans-serif;
    padding-left: 70px;
    margin-top: 30px;
    align-items: center;
}



.add-report-btn {
    margin-left: 70px;
}


.reports {
    margin: 20px 30px;
    box-sizing: border-box;
    border: solid 0.5px gray;
    border-radius: 10px;
    font-family: 'Didact Gothic', sans-serif;
    box-shadow: 3px 4px 0px 0px #bcbdbe;
    background-color: #ffffff;
    font-size: 16px;
    resize: none;
    width: 500px;
    height: 300px;
}

.cancelreport {
    border: solid rgb(39, 39, 107);
    border-radius: 14px;
    padding: 5px 15px;
    color: rgb(39, 39, 107);
    box-shadow: 3px 4px 0px 0px #bcbdbe;
}

.editreport {
    border: solid rgb(39, 39, 107);
    border-radius: 14px;
    padding: 5px 15px;
    color: rgb(39, 39, 107);
    box-shadow: 3px 4px 0px 0px #bcbdbe;
    margin-right: 30px;
}

.report-body {
    align-items: center;
    justify-content: center;
    margin-left: 10vw;
    margin-top: -50px;
}

.report-scrollable {
    height: 140px;
    overflow: auto;
}


/* .report-container{
    width: 400px;
    height: 200px;
} */

.edit-btn {
    float: right;
    top: 0;
    right: 16px;
    border: none;
    background-color: white;
}