.header {
  overflow: hidden;
  padding: 20px 10px;
  box-shadow: 100px black;
  position: relative !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  height: 50px;
  margin: 10px;
}

.header a {
  float: left;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
}

.header a.home {
  color: rgb(39, 39, 107);
  font-size: 25px;
  font-weight: bold;
  font-family: 'Paytone One', sans-serif;
  margin-left: 150px;

}

.signup-btn:hover {
  background-color: rgb(63, 63, 109);
  color: rgb(255, 255, 255);
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
  margin-right: 150px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: center;
  }

  .header-right {
    float: none;
  }
}


.body {
  background: radial-gradient(circle at right bottom, #d8c389, #cad2f7);
  height: 92vh;
}


.hello {
  text-align: center;
  padding: 250px 0 250px 0;
  font-size: 80px;
}


.login-btn {
  border: solid rgb(39, 39, 107);
  border-radius: 14px;
  padding: 5px 15px;
  margin: auto 30px;
  color: rgb(39, 39, 107);
  box-shadow: 3px 4px 0px 0px #bcbdbe;
}
.savepass{
  border: solid rgb(39, 39, 107);
  border-radius: 14px;
  padding: 5px 15px;
  margin: auto 30px;
  color: rgb(39, 39, 107);
  box-shadow: 3px 4px 0px 0px #bcbdbe;
  margin-bottom: 20px;
}

.signup-btn {
  color: white;
  background: rgb(39, 39, 107);
  border: rgb(39, 39, 107);
  border-radius: 14px;
  padding: 5px 15px;
  box-shadow: 3px 4px 0px 0px #bcbdbe;
  border: solid rgb(39, 39, 107);

}

.userpage {
  background: #efeff0;
}

#logout-btn {
  color: white;
  background: rgb(39, 39, 107);
  border: rgb(39, 39, 107);
  border-radius: 14px;
  padding: 5px 15px;
  box-shadow: 3px 4px 0px 0px #bcbdbe;
  border: solid rgb(39, 39, 107);

}

.update-password {
  align-items: center;
  position: relative;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  color: #eaf2f3;
}

.custom-file-input {
  visibility: hidden;
}

.profilepic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid rgb(39, 39, 107);
}
.uploadpic{
  color: white;
  background: rgb(39, 39, 107);
  border: rgb(39, 39, 107);
  border-radius: 14px;
  padding: 5px 15px;
  box-shadow: 3px 4px 0px 0px #bcbdbe;
  border: solid rgb(39, 39, 107);
}
.login-link-at-signup {
  color: rgb(50, 156, 255)
}
.disabled{
  display: flex;
  background: #efeff0;
  height: 90vh;
  justify-content: center;
  align-items: center;
}
/* .upload__pic{
  transform: translate(-5vw,-5vh);  
} */