.userpage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #efeff0;
    height: auto;
    min-height: 100vh;
}

.edit-form {
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;

}

.edit-pass {
    margin-top: 120px;
    margin-left: 41%;
}

.edit-profile {
    align-items: center;
    justify-content: center;
    display: block;
}

.report-form {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}


.reports {
    display: inline-block;
}

.reportlist {
    list-style: none;
    padding: 30px;
    margin: 20px 30px;
    box-sizing: border-box;
    border: solid 0.5px gray;
    border-radius: 10px;
    font-family: 'Didact Gothic', sans-serif;
    box-shadow: 3px 4px 0px 0px #bcbdbe;
    background-color: #ffffff;
    font-size: 16px;
    resize: none;
    width: 500px;
    height: 300px;
} 


.allreports {
    max-width: 1100px;
}

.login-signin {
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.editprofile:hover {
    color: blue;
}

.edit-btns {
    align-items: center;
    position: fixed;
    right: 100px;
    display: block;
    bottom: 20px;
}

.image {
    margin-top: 100px;
}

.data-form {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: -100px;
}

#search-user {
    width: 250px;
    margin-top: 30px;
    margin-left: 12vw;
}

.admin-body {
    background: #efeff0;
    height: auto;
    min-height: 100vh;
    padding-top: 10px;
}

.admin-btn {
    border: solid rgb(39, 39, 107);
    border-radius: 14px;
    padding: 5px 15px;
    margin: auto 30px;
    color: rgb(39, 39, 107);
    box-shadow: 3px 4px 0px 0px #bcbdbe;
    cursor: pointer;
}

.admin-btn a {
    text-decoration: none;
    color: rgb(39, 39, 107);
}

.admin_reports_container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}
.admin_reports{
    background-color: #efeff0;
    min-height: 100vh;
    height: auto;
}

#admin-close-btn {
    color: white;
    background: rgb(39, 39, 107);
    border: rgb(39, 39, 107);
    border-radius: 14px;
    padding: 5px 15px;
    box-shadow: 3px 4px 0px 0px #bcbdbe;
    border: solid rgb(39, 39, 107);
    margin-bottom: 20px;
}

.admin-pg-report {
    background-color: white;
    padding: 10px;
    width: 650px;
    border-radius: 10px;
    border: 2px solid rgb(209, 214, 214);
    box-shadow: 8px 8px 10px rgb(163, 227, 248);
    display: flex;
    gap: 50px;
    height: 200px;
}

.no-reports {
    display: flex;
    margin-left: 33%;
    align-items: center;
}
.table{
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 10px 10px 10px rgb(203, 224, 240);
    width:auto;
    border: 2px solid white;
    margin-left: 12vw;
    margin-bottom: 5vh;
}
 th{
    background-color: rgb(203, 224, 240);
    font-weight: 1000;
    border: 2px solid white;
    border-top: none;
    padding: 10px;
}
tr{
    border-bottom: 2px solid #d9dadc;
    padding: 10px;
}
td{
    height:80px;
    min-width: 13vw;
}
.table-btn {
    border: 1px solid rgb(39, 39, 107);
    border-radius: 14px;
    padding: 5px 15px;
    margin: auto 10px;
    color: rgb(39, 39, 107);
    cursor: pointer;
}

.table-btn a {
    text-decoration: none;
    color: rgb(39, 39, 107);
}
