.userpage {
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    background: radial-gradient(circle at right bottom, rgba(247, 216, 131, 0.5), rgba(202, 210, 247, 0.5));
    width: 100vw;
    min-height: 100vh;
    height: auto;
    position: absolute;
}

.title{
    width: 700px;
    height: 50px;
    margin: 10px 70px;
    box-sizing: border-box;
    border: solid 0.5px gray;
    border-radius: 10px;
    font-family: 'Didact Gothic', sans-serif;
    box-shadow: 3px 4px 0px 0px #bcbdbe;
    background-color: #ffffff;
    font-size: 16px;
    resize: none;
    padding-left: 10px;
}

.vl {
    height: 95%;
  width: 0.9px;
  background: gray;
  top: 15px;
  bottom: 0;
  position: absolute;
  left: 15vw;
}

.wrapper-1 {
    height: 100px;
    float: left;
    /* width: 30vw; */
    margin-top: 50px;
}

.wrapper-2 {
    height: 100px;
    width: 65vw;
    float: right;
    margin-left: 100px;
}

.clearfix {
    clear: both;
}

#nav-element {
    font-family: 'Didact Gothic', sans-serif;
    
}

#nav-elements{
    width: 20vw;
}


.nav-items{
    color: black;
    list-style-type: none;
    margin-top: 50px; 
}


.nav-item{
    margin: 10px;
}

.add-report{
    color: rgb(109, 109, 109);
}

.container-myreports{
    padding-left: 12px;
}

.wrapper-2-myreports{
    margin-top: -100px;
    width: 85vw; 
    float: right;
    margin-left: 4vw;
}


.edit-title-input{
    width: 700px;
    height: 50px;
    margin: 10px 70px;
    box-sizing: border-box;
    border: solid 0.5px gray;
    border-radius: 10px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
    resize: none;
    padding: 10px;
    overflow:hidden;
}

.edit-report-input{
    width: 700px;
    height: 350px;
    margin: 10px 70px;
    box-sizing: border-box;
    border: solid 0.5px gray;
    border-radius: 10px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
    resize: none;
    padding: 10px;
}

#edit-report-input{
    height: 300px;
}

#edit-btn{
    color: black;
}
.edit_user_page{
    background: #efeff0;;
}